.calculadora{
    width: 400px;
}

.display{
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn{
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: none;
    background-color: aqua;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(4, 139, 139);

}

.btn-eq{
    background-color: blueviolet;
}

.btn-eq:hover{
    background-color: rgb(100, 28, 168);

}