.listaTarefas li{
    color: rgb(1, 122, 228);
    list-style-type: none;
    border-width: medium;
    border: solid #BB3C88 5px;
    width: 232px;
    padding: 70px;
    border-radius: 12px;
    font-size: 1.5rem;
    background: #f5f5f5 ;
    color: black;
    margin: auto;
    margin-top: 15px;
    word-break: break-all;
    margin-left: 10px;
    box-shadow: 3px 4px 8px #bb3c88;

}

.listaTarefas{
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;

}

.listas{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: auto;
}

.menina{
    
    height: 273px;
}

.imgCalculadora{
    background-image: url(../assets/img/calculadora.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 150px;
    transition: transform 99ms linear;
    cursor: pointer;
    border: none;
    background-color: transparent;
    


}

.imgCalculadora:hover{
    transform: scale(1.2);
}

@media only screen and (min-width: 850px) {
    .imgCalculadora {
      height: 140px;
      margin-right: 50px;
    }
  } 

  @media only screen and (max-width: 850px) {
    .menina {
    margin-top: 12px;
    height: 151px;
    margin-right: 25px;
        
    }
  } 

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }



  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }

  .modal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #006390;
    height: 300px;
    border-radius: 15px;
  }

  .fechar {
    position: absolute; 
    width: 21px;
    text-align: center;
    background: #BB3C88;
    border-radius: 25%;
    color: white ;
    padding: 12px;
    margin-left: 407px;
    text-decoration: none;
    font-size: large;

  }

  .calc2{
      height: 450px;

  }